/**
 * ==============================================
 * Dot Windmill
 * ==============================================
 */
.dot-windmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cdcdcd;
  color: #cdcdcd;
  transform-origin: 5px 15px;
  animation: dot-windmill 2s infinite linear;
}
.dot-windmill::before,
.dot-windmill::after {
  content: "";
  display: inline-block;
  position: absolute;
}
.dot-windmill::before {
  left: -8.66254px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cdcdcd;
  color: #cdcdcd;
}
.dot-windmill::after {
  left: 8.66254px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cdcdcd;
  color: #cdcdcd;
}

@keyframes dot-windmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}

/**
 * ==============================================
 * Slider Checkbox
 * ==============================================
 */
.slider-checkbox {
  position: relative;
}
.slider-checkbox input {
  order: 2;
  margin: 0px;
  margin-top: 1px;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 20px;
}
.slider-checkbox input:checked + label:before {
  content: "\f00c";
  padding-left: 6px;
}
.slider-checkbox input:checked + label:after {
  left: 21px;
}
.slider-checkbox label {
  position: relative;
  padding-left: 46px;
  order: 1;
}
.slider-checkbox label:before,
.slider-checkbox label:after {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, left 0.3s;
}
.slider-checkbox label:before {
  content: "\f00d";
  color: #fff;
  box-sizing: border-box;
  font-family: "FontAwesome", sans-serif;
  padding-left: 23px;
  font-size: 12px;
  line-height: 20px;
  background-color: #888;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.slider-checkbox label:after {
  content: "";
  letter-spacing: 20px;
  background: #fff;
  left: 1px;
  top: 1px;
  height: 18px;
  width: 18px;
}

.slider-checkbox input:checked + label[for="Martingale"]:before {
  background-color: #22bb33;
}

/**
 * ==============================================
 * Toast
 * ==============================================
 */
.toast {
  position: fixed;
  top: 100px;
  right: 3%;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  border-radius: 10px;
  z-index: 99;
}

.toast.error {
  border: 2px solid #ff3333;
  background-color: #ff33335a;
}

.toast.success {
  border: 2px solid #22bb33;
  background-color: #22bb347b;
}

.toast.info {
  border: 2px solid #f0ad4e;
  background-color: #f0ac4e64;
}

/**
 * ==============================================
 * Nav Drop down
 * ==============================================
 */
@media only screen and (max-width: 699px) {
  nav.navMenu {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  nav.navMenu {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  .navTitleText {
    font-size: 18px;
    font-variant: small-caps;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem;
    background-color: #cdcdcd0c;
    margin-bottom: 5px;
    height: 85px;
    width: 200px;
    text-align: center;
  }

  .navTitleText:hover {
    background-color: #cdcdcd28;
  }

  .navDropMenu {
    width: 200px;
    overflow-x: auto;
    text-align: center;
    transition: height 0.4s ease, opacity 0.4s ease;
    background-color: #222;
    color: #cdcdcd;
    font-weight: 600;
    position: absolute;
    top: 85px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    opacity: 0;
    height: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .navDropMenu.show {
    opacity: 1;
    height: auto;
  }

  .navDropMenu li {
    padding: 10px;
    font-size: 16px;
  }

  .navDropMenu li:hover {
    background-color: #cdcdcd28;
    color: #fff;
  }

  .navMenuTitle {
    height: 25px;
    min-width: 100px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
  }
}
